body{
    background: rgb(122, 185, 66);
    overflow: initial;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 1.5em;
    font-size: 17px;
    color: #000;
}
.main    {
     background-color: rgb(122, 185, 66);
     overflow: initial;
}

.container {
    margin-top: 80px;
    border-color: rgb(158, 167, 178);
    border-width: 5px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: relative;
    top: 0px;
    width: 960px;  
}

.row {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
    border-color: rgb(158, 167, 178);
    outline: none;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: relative;
    top: 0px;
}

.logo-img {
    margin-top: 3.1em; 
    margin-bottom: 1em;
    cursor: pointer; 
    outline: none; 
    display: block;" 
    aria-disabled="false";
    text-align: center;
}

.headline {
    font-family: 'Droid Sans';
    font-size: 48px;
    margin: 0;
    line-height: 1.25em;
    font-weight: 600;
    text-align: center;
    color: rgb(90, 101, 115);
    
}

.subheadline {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5em;
    color: #454545;
}

hr   {
    width: 95%;
    min-height: 1px;
    margin: 20px;
    padding: 10px 0px;
}

h3 {
   text-align:  
}

.how {
    margin-left: 15px;
    margin-bottom: 1.25em;
    font-size: 18px;
}

ul {
    margin-left: 1.5em;
}

li {
    padding: 0px 10px 10px;
    padding-left: 20px;
    margin-top: 1.25em;
    margin-left: -7%;
    color: #2F2F2F;
}

.directions {
    margin-top: -10px;
    padding-left: 2.2em;
    
}

p {
    font-size: 18px;
    line-height: 1.5em;
    color: #282828;
    text-align: center;
}
ul {
    list-style: none;
    line-height: 1.5em;
}

li {
    margin-top: 0px;
}

.red {
    color: rgb(228, 10, 10);
    margin-top: 2.5em;
}

.footer {
    text-align: center;
    color: rgba(64, 64, 64, 0.709804);
    font-size: 16px;
    margin: .65em;
    padding-top: 40px;
    padding-bottom: 40px;
    outline: none;
}

/*
********** Countdown Clock **********
*/

.timer{
	text-align: center;
	background: #fff;
    font-family: sans-serif;
    font-weight: 100;
    color: #C41229;
    font-size: 14px;
}

.timer {
    margin-top: 1em;
    margin-bottom: .82em;
    text-align: center;
    background: #fff;
    font-family: sans-serif;
    font-weight: 100;
    color: #C41229;
    font-size: 24px;
}

#clockdiv{
	font-family: sans-serif;
	color: #C41229;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 26px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #fff;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #fff;
	display: inline-block;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.smalltext {
	padding-top: 5px;
	font-size: 10px;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    padding: 0px 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
}

/*
********** Media Queries **********
*/

@media (min-width: 980px) and (max-width: 1900) {
    .container {
        width: 90%;
        overflow: hidden;
    }
    
}

@media (min-width: 350px) and (max-width: 769px) {
    .container {
        width: 100%;
    }
    
    .headline {
        font-size: 32px;
        margin-bottom: 0px;
    }
    
    .red {
        margin-top: 0px;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
     
    ul {
        margin-left: -1.35em;
    }
    .directions {
        margin-top: -10px;
}
}