body {
   background: url(../images/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-color: #fff;
   font-family: 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  max-width: 100%;
}


.main-header {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    box-shadow: 30px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 130px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-color: rgb(65, 71, 76);
    outline: none;
    background-color: rgba(255, 255, 255, 0.529412);
    color: #fff;
    font-size: 14px;
    color: #fff;
}
.subheading {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.47);
    text-align: center;
    padding: 0px;
}
.shadow {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.logo-img {
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    display: block;
    aria-disabled="false";
    text-align: center;
}
.headline {
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
}
.containerInner {
    padding-left: 1.75em;
    padding-right: 1.75em;
    padding-top: 10px;
    padding-bottom: 20px;
    outline: none;
    margin-bottom: 20px;
    outline: none;
    background-color: rgba(47, 47, 47, 0.792157);
}
.panel {
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.panel .panel-default {
    outline: none;
    margin-bottom: 0px;
}
.panel-default {
    border: none;
}
.form-group {
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    padding-right: .5em;
    padding-left: .5em;
}
input {
    height: 48px;
}
.form-input {
    
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: #575555;
}
.form-control {
    padding: 12px 40px 15px 18px;
    font-size: 16px;
    height: 48px;
}
.elInput:focus {
    border-color: #B91517;
    border-size: 5px;
    border-color: rgb(185, 21, 23);
    border-width: 3px;
}

.elInputIRight {
    border-color: rgb(74, 137, 32);
    border-width: 3px;
}
.elInput {
    background-repeat: no-repeat;
    background-position: 97%;
}
.elInputName {
    background-image: url(../images/name2.png);
}
.elInputEmail {
    background-image: url(../images/email2.png);
}
.elInputPhone {
    background-image: url(../images/phone2.png);
}
.btn .btn-success {
    color: rgb(255, 255, 255);
    background-color: rgb(45, 192, 86);
    font-size: 17px;
    display: block;
    text-align: center;
    width: 100%;
}
.btn-success {
    background-image: none !important;
    background-color: rgb(45, 192, 86);
    padding: 13px 35px;
    font-size: 17px;
}
.elButtonSubtle:hover {
    background-color: #239743!important;
}
span {
    display: block;
    opacity: 0.7;
    font-weight: normal;
    font-size: 17px;
}
.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.89);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 1.5em;
    font-size: 16px;
}
.copyright a {
    color: rgba(255, 255, 255, 0.62);
}
/******* MEDIA QUERIES *******/

@media (min-width: 320px) and (max-width: 770px) {
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1em;
        padding-right: 1em;
    }
    body {
        max-width: 100%;
        background: #EEE3E1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background
    }
    .containerInner {
        width: 100% !important;
        padding-left: 0.40em !important;
        padding-right: 0.40em !important;
    }
    .btn,
    .btn-block,
    .btn-success {
        padding: 1.75em;
    }
}
@media (min-width: 770px) and (max-width: 1200px) {
    body {
        background: url(../images/bg1.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #fff;
    }
    .main-headline,
    .containerInner {
        width: 100%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
        margin-right: 15%;
    }
    .col-lg-6 {
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 771px) and (max-width: 990px) {
    .main-header,
    .containerInner {
        width: 60%;
        margin-left: 25%;
    }
}
    box-shadow: 30px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 130px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-color: rgb(65, 71, 76);
    outline: none;
    background-color: rgba(255, 255, 255, 0.529412);
    color: #fff;
    font-size: 14px;
}

.subheading {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.47);
    text-align: center;
}

.shadow {
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
}


.logo-img {
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    display: block;"
    aria-disabled="false";
    text-align: center;
}

.headline {
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
    padding-right: 1em;
    padding-left: 1em;

}

.containerInner {
    padding-left: 1.75em;
    padding-right: 1.75em;
    padding-top: 10px;
    padding-bottom: 20px;
    outline: none;
    margin-bottom: 20px;
    outline: none;
    background-color: rgba(47, 47, 47, 0.792157);
}

.panel {
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.panel .panel-default {
    outline: none;
    margin-bottom: 0px;
}

.panel-default {
  border: none;
}

.form-group {
    margin-top: 15px;
    outline: none;
    cursor: pointer;
}
input {
  height: 48px;
  color: #757575;
}

.form-input {
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color:#545454;
}

.form-control::-moz-placeholder {
    color:#545454;;
    opacity: 1
}

.form-control {
  padding: 12px 40px 15px 18px;
  font-size: 16px;
  height: 48px;
}

.elInput {
  background-repeat: no-repeat;
  background-position: 97%;
  color: #545454;
}
.elInput::placeholder {
    color: #757575;
    font-size: 16px;
}

.elInputName {
  background-image: url(../images/name2.png);
}

.elInputEmail {
  background-image: url(../images/email2.png);
}

.elInputPhone {
  background-image: url(../images/phone2.png);
}

.btn .btn-success {
    color: rgb(255, 255, 255);
    background-color: rgb(45, 192, 86);
    font-size: 17px;
    display: block;
    text-align: center;
    width: 100%;
}

.btn-success {
  background-image: none !important;
  background-color: rgb(45, 192, 86);
  padding: 13px 35px;
  font-size: 17px;   
}

span {
    display: block;
    opacity: 0.7;
    font-weight: normal;
    font-size: 18px;
}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.89);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    line-height: 1.5em;
    font-size: 16px;
}

.copyright a {
    color: rgba(255,255,255,0.62);
}


/******* MEDIA QUERIES *******/

    @media (min-width: 320px) and (max-width: 770px) {
        
      
  .wrapper {
 
    margin-right: -11em;
    
  }
    body {
        max-width: 100%;
		background: #EEE3E1;
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		background
        }
        
    .main-headline, .containerInner{
        width: 100% !important;

    }
        .form-group {
            padding-right: 1.5em;
            padding-left: 1.5em;
    
        }
     
        .btn, .btn-block, .btn-success {
            margin-left: 1.2em;
            padding: 1em;
            width: 94%;
        }
}

@media (min-width: 770px) and (max-width: 1200px) {
    body {
		background: url(../images/bg1.jpg) no-repeat center center fixed;
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		background-color: #fff;
	}

    .main-headline, .containerInner {
        width: 100%;
}
.col-lg-offset-3 {
        margin-left: 25%;
        margin-right: 15%;
    }
    .col-lg-6 {
       
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .form-group {
        padding-right: 4em;
        padding-left: 4em;
    }
    .btn, .btn-block, .btn-success {
        margin-left: 3em;
        width: 79%;
        
    }
}




 
@media (min-width: 771px) and (max-width: 990px){
    .main-header, .containerInner {
        width: 70%;
        margin-left: 17%;
    }
    
    .form-group {
        padding-right: 4em;
        padding-left: 4em;
    }
    .btn, .btn-block, .btn-success {
        margin-left: 3em;
        width: 79%;
        
    }
    
     
}

@media (min-width: 320px) and (max-width: 400px) {
     .main-header, .containerInner {
        width: 100% !important; 
         margin-right:.5em;
         
    }
        .form-group {
            padding-right: .5em;
            padding-left: .5em;
        }
     
        .btn, .btn-block, .btn-success {
            margin-left: .5em;
            padding: 1em;
            width: 96%;
        }
}

@media (min-width: 1205px) and (max-width: 1700px) {
    .main-header, .containerInner {
        width: 95%;
        margin-left: 2%;
    }
    
    .form-group {
        padding-right: 3em;
        padding-left: 3em;
    }
    .btn, .btn-block, .btn-success {
        margin-left: 2.5em;
        width: 84%;
        
    }
    
     
}

